html{
    scroll-behavior: smooth;
}

.bodysite{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img{
    height: 50px;
    width: 50px;
}

.navbar-item{
    font-size: 20px;
    text-decoration: none;
    color: white;
    
}

.navbar-item:hover{
    font-size: 20px;
    text-decoration: none;
    transform: scale(1.05);
}

.navbar-item:active{
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

.h1-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.countainer1-products{
    background-color: rgb(247, 118, 33, 0.9);
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
}

.countainer2-products{
    background-color: rgb(247, 118, 33, 0.9);
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
    margin-top: 0%;
}

.h2-combos{
    background-color: rgb(15, 15, 15);
    display: flex;
    height: 80px;    
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.countainer3-products{
    background-color: rgb(247, 118, 33);
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 60%;
    justify-content: center ;
    align-items: center;
    background-color: azure;
    margin-left: 3%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.product:hover{
    transform: scale(1.05);
}

.product-description{
    width: 70%;
}

.product-img img{
    border-radius: 10px;
    display: flex;
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    background: #111;
    color: white;
    padding: 40px 20px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer h3,
.footer h4{
    margin-bottom: 10px;
}

.footer p{
    margin: 5px 0;
}

.footer-copy{
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}