html{
    scroll-behavior: smooth;
}

.bodysite{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    height: 10vh;
}

.logo img{
    height: 50px;
    width: 50px;
}

.navbar-item{
    font-size: 20px;
    text-decoration: none;
    color: white;
    
}

.navbar-item:hover{
    font-size: 20px;
    text-decoration: none;
    transform: scale(1.05);
}

.navbar-item:active{
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

.h1-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.countainer1-products{
    background-color: rgb(247, 118, 33, 0.9);
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
}

.countainer2-products{
    background-color: rgb(247, 118, 33, 0.9);
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
    margin-top: 5%;
}

.product{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 60%;
    justify-content: center ;
    align-items: center;
    background-color: azure;
    margin-left: 3%;
    text-align: center;
    border-radius: 10px;
}

.product-description{
    width: 70%;
}

.product-img img{
    border-radius: 10px;
    display: flex;
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}